<%- include('./includes/header', { title: 'Project Detail - SM Ingenious Construction (SMC- Private) Limited' }) %>


<!-- Start Hero -->
<div class="sec-breadcrumb">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 class="ml14 p-t-5">
        <span class="text-wrapper">
          <span class="letters"><%- project.title %></span>
          <span class="line"></span>
        </span>
      </h2>
      <ol class="breadcrumb text-upper">
        <li class="m-right-10px">
          <a href="/">Home</a>
        </li>
        <li class="p-lr-1">/</li>
        <li class="m-right-10px">
          <a href="/projects">Projects</a>
        </li>
        <li class="p-lr-1">/</li>
        <li class="breadcrumb-item-active"><%- project.title %></li>
      </ol>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start Portfolio Details -->
<section>
  <div class="container p-tb-10">
    <div class="row">
      <div class="project-details-content">
        <div class="project-info p-b-5">
          <div class="col-lg-4">
            <h3>Interior Design</h3>
            <p>An interior design agency can create content that showcases its work, highlights design trends, and provides educational resources for clients and followers. Some potential content ideas for an interior design agency
            <p>
          </div>
          <div class="col-lg-8">
            <div class="pd-info-item">
              <div class="info-item">
                <h3>Client</h3>
                <p>Luxury Company Interior Design</p>
              </div>
              <div class="info-item">
                <h3>Location</h3>
                <p>New York, USA</p>
              </div>
            </div>
            <div class="pd-info-item">
              <div class="info-item">
                <h3>Date</h3>
                <p>18-5-2023</p>
              </div>
              <div class="info-item">
                <h3>Size</h3>
                <p>18,288m²</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <% project.images.forEach((image,index) => { %>
            <% if(index % 5 == 0) { %>
              <div class="col-12">
                <div class="p-b-5">
                  <img class="img-fuild wow animate__fadeInUp" data-wow-duration="1s" src="<%- image %>" alt="">
                </div>
              </div>
              <% } else if (index === 1 || index % 6 == 0) { %>
                <div class="col-lg-6 col-12 pe-lg-4">
                  <div class="pd-details pd-details-1">
                    <div data-aos="fade-right" data-aos-duration="500">
                      <img class="img-fluid" src="<%- image %>" alt="">
                    </div>
                  </div>
                </div>
              <% } else if (index === 2 || index % 7 == 0) { %>
                <div class="col-lg-6 col-12 ps-lg-4">
                  <div class="pd-details pd-details-2 p-tb-5">
                    <div data-aos="fade-left" data-aos-duration="500">
                      <img class="img-fluid" src="<%- image %>" alt="">
                    </div>
                  </div>
                </div>
              <% } else { %>
                <div class="col-12">
                  <div class="p-b-5" data-aos="fade-up" data-aos-duration="500">
                    <img class="img-fluid" src="<%- image %>" alt="">
                  </div>
                </div>
              <% } %>          
          <% }) %>
        </div>        
        <div class="pd-end">
          <span class="pd-line"></span>
          <p>Thanks</p>
          <span class="pd-line"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Details -->
<%- include('./includes/footer') %>